button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 20px;
  cursor: pointer;
  background-color: #f76857;
  color: white;
  border-radius: 5px;
  font-size: 30px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    2px 8px 12px rgba(0, 0, 0, 0.16);
  &:hover,
  &:focus {
    background-color: #ff988c;
  }
  border: none;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.input {
  display: block;
  width: 500px;
  height: 50px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  padding-left: 20px;

  font-size: 30px;

  &:hover {
    border-color: $currentColor;
  }
  &::placeholder {
    padding-left: 20px;
  }
}

.image {
  display: block;
  max-width: 250px;
  height: 250px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.card {
  flex-basis: calc((100%-5 * 20px) / 5);
  margin: 20px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: none;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: 2px solid #f8ea56;

  &:focus,
  &:hover {
    box-shadow: 0px 1px 10px #f76857;
    transform: scale(1.15);
  }
}

.data {
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
}
