.footer {
  border-top: 2px solid #cccccc;
}

.pay {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
  cursor: pointer;
  text-decoration: none;
  font-family: OpenSans, sans-serif;
  padding: 7px 20px;
  background-color: rgb(122, 183, 43);
  color: white;

  margin-bottom: 15px;
  @media (max-width: 480px) {
    width: 220px;
  }
}

.link {
  display: block;
  text-align: center;
}

.img {
  display: block;
  margin-right: 10px;
}
