.footer {
  border-top: 2px solid #cccccc;
}

.pay {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
  cursor: pointer;
  text-decoration: none;
  font-family: OpenSans, sans-serif;
  padding: 7px 20px;
  background-color: rgb(122, 183, 43);
  color: white;
  border-radius: 10px;

  margin-bottom: 15px;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  @media (max-width: 480px) {
    width: 220px;
  }

  &:hover,
  &focus {
    background-color: rgb(58, 90, 17);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.link {
  display: block;
  text-align: center;
}

.img {
  display: block;
  margin-right: 10px;
}
